{{#each this}}
<li class="photo-card">
    <img class="photo-card__img" src='' alt={{this.tags}} data-lazy={{this.webformatURL}} data-large-img={{this.largeImageURL}} height="360px"/>
    <div class="stats">
      <p class="stats__item">
        <i class="material__icons material-icons">thumb_up</i>
        <span>{{this.likes}}</span>
      </p>
      <p class="stats__item">
        <i class="material__icons material-icons">visibility</i>
        <span>{{this.views}}</span>
      </p>
      <p class="stats__item">
        <i class="material__icons material-icons">comment</i>
        <span>{{this.comments}}</span>
      </p>
      <p class="stats__item">
        <i class="material__icons material-icons">cloud_download</i>
        <span>{{this.downloads}}</span>
      </p>
    </div>
</li>
{{/each}}