{{#each this}}
<li class="photo-card">
    <img class="photo-card__img" src='' alt={{this.tags}} data-lazy={{this.webformatURL}} data-large-img={{this.largeImageURL}} height="360px"/>
    <div class="stats">
      <p class="stats__item">
        <i class="material__icons, material-icons">thumb_up</i>
        {{this.likes}}
      </p>
      <p class="stats__item">
        <i class="material__icons, material-icons">visibility</i>
        {{this.views}}
      </p>
      <p class="stats__item">
        <i class="material__icons, material-icons">comment</i>
        {{this.comments}}
      </p>
      <p class="stats__item">
        <i class="material__icons, material-icons">cloud_download</i>
        {{this.downloads}}
      </p>
    </div>
</li>
{{/each}}